.card {
  width: 90%;
  max-width: 470px;

  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;

  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;

  .search {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .input_field {
      height: 60px;
      flex: 1;

      padding: 0.8rem 1.6rem;
      margin-right: 16px;

      border: 0;
      outline: 0;

      background-color: #ebfffc;
      color: #555;
      border-radius: 20px;
      font-size: 18px;
    }

    .search_button {
      width: 60px;
      height: 60px;

      border: 0;
      outline: 0;
      cursor: pointer;

      background-color: #ebfffc;
      border-radius: 50%;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .weather {
    .weather_icon {
      width: 170px;
      margin-top: 2rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 500;
    }
    h2 {
      font-size: 3.2rem;
      font-weight: 400;
      margin-top: -0.8rem;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 1.2rem;
      margin-top: 3.2rem;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 40px;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
